<div class="container">
    <header class="header">
        <div class="profile-userpic">
            <img src="/assets/Picture.jpg" class="avatar">
        </div>
        <div class="line">
            <ul>
                <li><a href="">Lịch Thi</a></li>
                <li><a href="">Điểm Thi</a></li>
                <li><a href="">Ôn Tập</a></li>
                <li><a href="">Bài Thi</a></li>
            </ul>
        </div>
        <div class="menu-section">
            <div class="menu-icon" (click)="toggleBar()"></div>
        </div>
    </header>
    <div class="main-content"></div>
</div>