<div class="container">
    <header class="header">
        <div class="profile-userpic">
            <img src="/assets/Picture.jpg" class="avatar">
        </div>
        <div class="line">
            <ul>
                <li><a href="">Lịch Thi</a></li>
                <li><a href="">Điểm Thi</a></li>
                <li><a href="">Ôn Tập</a></li>
                <li><a href="">Bài Thi</a></li>
            </ul>
        </div>
        <button type="button" class="menu-section" (click)="toggleBar()">
            <div class="menu-icon"></div>
        </button>
    </header>
    <div class="main-content"></div>
    <div class="menu" *ngIf="showBar">
        <div class="outClose"><button class="close" type="button" (click)="closeBar()"></button></div>
        <div class="info"><a href="">thông tin cá nhân</a></div>
        <div class="changePass"><a href="">đổi mật khẩu</a></div>
        <div class="logout"><a href="">đăng xuất</a></div>
    </div>
</div>