<app-login>
    <p class="title" title>Sinh Viên</p>
    <p pass>Mật Khẩu</p>
    <img class="Icon" src="/assets/reading-book.png" alt="" UserIcon>
    <img class="Icon" src="/assets/padlock.png" alt="" PassIcon>
    <a class="ForgotPass" href="/forgotpass" forgotPass>Quên Mật Khẩu?</a>
    <a class="teacher" (click)="teacherUrl()" teacher>Giáo Viên</a> <br>
    <a class="admin" (click)="adminUrl()" admin>Admin</a>
    <button class="send" type="button" (click)="onLogin()" button>ĐĂNG NHẬP</button>
</app-login>