* {
  color: black;
}

.container {
  display: flex;
  height: calc(100vh - 80px);
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.question {
  background-color: white;
  border-radius: 5px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  width: 70vw;
  height: 500px;
}

.form {
  width: 280px;
  position: relative;
  left: 20px;
  border-radius: 5px;
}

.catogery-search {
  width: 100%;
}

.top-tool {
  display: flex;
  width: 100%;
  height: 70px;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.create-question {
  background-color: #3fa6f1;
  color: white !important;
}

.search-question {
  height: 30px;
  width: 300px;
  border-radius: 10px;
  border: 3px solid rgba(0, 0, 0, 0.5);
  padding: 0px 10px;
}

.bottom-tool {
  width: 100%;
  height: calc(100% - 70px);
}

.example-container {
  height: 100%;
  width: 100%;
  overflow: auto;
}

table {
  width: 1080px;
}

td.mat-column-star {
  width: 20px;
  padding-right: 8px;
}

th.mat-column-position, td.mat-column-position {
  padding-left: 8px;
}

.mat-mdc-table-sticky-border-elem-right {
  border-left: 1px solid #e0e0e0;
}

.mat-mdc-table-sticky-border-elem-left {
  border-right: 1px solid #e0e0e0;
}
