<div class="container">
    <div class="logo">
        <img src="/assets/huce_logo.png" alt="logo">
    </div>
    <div class="line"></div>
    <h1>ĐĂNG NHẬP VÀO TÀI KHOẢN</h1>
    <h3>Sinh Viên</h3>
    <div class="section">
        <h4>Tài Khoản</h4>
        <div class="User">
            <img class="Icon" src="/assets/reading-book.png" alt="">
            <input id="username" type="text">
        </div>
        <h4>Mật Khẩu</h4>
        <div class="Password">

            <img class="Icon" src="/assets/padlock.png" alt="">
            <input id="password" type="password">
        </div>
        <div class="ForgotPass"><a href="">Quên Mật Khẩu?</a></div>
        <button>ĐĂNG NHẬP</button>
        <div class="line" id="a"></div>
        <div class="other">
            <a href="">Giáo Viên</a>
            <a href="">Admin</a>
        </div>
    </div>
</div>