<app-teacher-dashboard>
    <div class="container" content>
        <div class="catogery">
            <h2 style="padding: 20px 25px 10px; margin: 0px;">Danh Mục</h2>
            <form class="form">
                <mat-form-field class="catogery-search">
                    <input matInput placeholder="Tìm kiếm danh mục">
                </mat-form-field>
            </form>
            <h4 style="padding: 0px 35px; margin: 0px;">Danh Mục Câu Hỏi</h4>
            <div></div>
        </div>
        <div class="question"></div>
    </div>
</app-teacher-dashboard>