* {
  color: black;
}

.container {
  display: flex;
  height: calc(100vh - 80px);
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.catogery,
.question {
  background-color: white;
  border-radius: 5px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.catogery {
  width: 350px;
  height: 500px;
}

.question {
  width: 850px;
  height: 500px;
}

.form {
  width: 280px;
  position: relative;
  left: 20px;
  border-radius: 5px;
}

.catogery-search {
  width: 100%;
}


