<app-student-dashboard>
    <div class="container" content>
        <div class="calendar">
            <mat-card class="demo-inline-calendar-card">
                <mat-calendar [(selected)]="selected"></mat-calendar>
            </mat-card>
        </div>
        <div class="upcomming">
            <div class="title">
                <p style="margin: 0px;">Lịch Thi Dự Kiến:</p> 
            </div>
            <div *ngIf="viewExam()">
                <p>Hello World!</p>
            </div>
        </div>
    </div>
</app-student-dashboard>