* {
  color: rgba(255, 255, 255, 0.8);
}

.container {
  display: flex;
  height: calc(100vh - 80px);
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.calendar,
.upcomming {
  background-color: rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 5px;
}

.calendar {
  width: 400px;
  height: auto;
}

.upcomming {
  width: 700px;
  height: 500px;
}

.demo-inline-calendar-card {
  background-color: transparent;
}

::ng-deep .mat-calendar {
  filter: invert(1) !important;
}

::ng-deep .mat-calendar-controls .mat-mdc-icon-button.mat-mdc-button-base {
  filter: invert(1) !important;
}

::ng-deep .example-custom-date-class {
  background: rgba(234, 182, 118, 0.3) !important;
  border-radius: 100% !important;
}

.title {
  font-size: 20px;
  margin: 30px 20px 5px;
}

.exams {
  max-height: 420px;
  margin: 5px 20px;
  overflow: auto;
}

.exams::-webkit-scrollbar {
  display: none;
}

.exam {
  margin: 10px 0px;
  cursor: pointer;
}

.line {
  border: 1px solid rgba(255, 255, 255, 0.8);
  border-radius: 1px;
}
