/* You can add global styles to this file, and also import other style files */

* {
  font-family: "JetBrains Mono", monospace;
}

body {
  margin: 0px;
  padding: 0px;
}
.Icon {
  height: 5vh;
  margin-right: 10px;
}

.title {
  margin: 0px;
}

.ForgotPass {
  display: inline-block;
  text-align: right;
}

.ForgotPass:hover {
  color: rgb(217, 30, 54);
  text-decoration: underline;
}

.other {
  display: flex;
  flex-direction: column;
  text-align: left;
  font-size: 13px;
}

.student:hover {
  color: rgb(217, 30, 54);
  text-decoration: underline;
}

.teacher:hover {
  color: rgb(217, 30, 54);
  text-decoration: underline;
}

.admin:hover {
  color: rgb(217, 30, 54);
  text-decoration: underline;
}

.send {
  background: rgb(228, 100, 0);
  width: 100%;
  height: 6vh;
  border-radius: 90px;
  border: 2px solid #000;
  color: #fff;
  font-family: "JetBrains Mono";
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin-top: 8vh;
}

.send:hover {
  background: #BF3100;
  cursor: pointer;
}